

#nav-ul{
    list-style-type: none;
    border: 1px solid #000000;
    background-color: #d7d7d7;

}

#nav-ul li {
    display: inline;
    background-color: #d7d7d7;
}

#nav-ul li a{

    display: inline-block;  
     padding: 10px 20px;
     text-decoration: none;  
     color: #2c2c2c;
     transition: color 0.3s;
          
}
#nav-ul li a:hover {    
 color: #797979;
    }

#ul2 li{
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

#div-central{
    display:flex;
}
.div-element{
    flex: 1;
}


























